/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

input {
	padding: .75em;
	font-family: 32px;
	width: 200px;
}

html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Arial;
  }

/*#panel{
    margin-left: -180px;
    z-index: 5;
    background-color: #888;
    padding: 5px;
    border: 1px solid #999;
  }*/

  #directions-panel{
    height:100%;
    float: left;
    width: 400px;
    overflow: auto;
    border:solid black 2px;
    border-left:none;

  }

  /*#control{
    padding:2px;
    font-size: 34px;
    font-family: Arial;
    box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
    
    width:200px;
  }
  */
  #map-canvas{
   /*width:800px;
   border:solid black 2px;
   height:100%;
   float:left;*/
  }
 
 /* @media print {
    #map-canvas {
      height: 500px;
      margin: 0;
    }

    #directions-panel {
      float: left;
      width: auto;
    }
  }*/

#new-trip-form {
  border:3px solid red;
  width:400px;
  height:400px;
  background-color: blue;
}

header{
 border-top: solid 1px white;
 border-bottom: solid 2px white;
 background-color:#E0F5FF;
 background-position: cover;
 width:100%;
}

#trip-stats
{
  background: linear-gradient(#FFF 5%,#73AF90 100%);
 float:left;
 /* color:black;*/
  padding-left:10px;
  width:360px;
  height:200px;
  /*border:7px solid black;*/
  font-weight: bold;
}

 #trip-name{
  color:black;
  font-size: 20px;
}

 #trip-link{
  margin:0;
  padding:0;
  font-size: 20px;
}

#trip-list{
  
  list-style-type: none;
  color:black;
  font-size:30px;


}


#cheapest-station{
  background: linear-gradient(#FFF 5%,#73AF90 100%);
  font-weight: bold;
 
  width:360px;
  float:left;
  height:200px;
 
}

 #station-name{
  color:black;
  font-size: 20px;

}

 #station-link{
  margin:0;
  padding:0;
  font-size: 20px;
  list-style-type: none;
  color:black;
}
  

#container{
  width:100%;
  margin:0 auto;
}


#map-canvas {
    position: relative;
    padding-bottom: 75%; 
    height: 0;
    overflow: hidden;
    }
#map-canvas iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


